/* Home Global Styles */
/* Add this to styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(270deg, #e5d847, #fad0c4, #50afc2, #a18cd1);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Header Styling */
header {
    background-color: #9f8fea;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    min-height: 90px;
}

/* Icons on the Left */
.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute; /* Position the icons to the left */
    top:20px;
    left: 20px;
}

.app-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.app-icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

/* Centered Title */
.header-title {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.header-title span {
    display: inline-block;
    position: relative;
    animation: textEffect 2s ease-in-out infinite;
}

.header-title span:nth-child(1) {
    animation-delay: 0s;
}

.header-title span:nth-child(2) {
    animation-delay: 0.2s;
}

.header-title span:nth-child(3) {
    animation-delay: 0.4s;
}

.header-title span:nth-child(4) {
    animation-delay: 0.6s;
}

.header-title span:nth-child(5) {
    animation-delay: 0.8s;
}


.header-title span:nth-child(6) {
    animation-delay: 1.0s;
}

.header-title span:nth-child(7) {
    animation-delay: 1.2s;
}

.header-title span:nth-child(8) {
    animation-delay: 1.4s;
}
/* Animation for Text Effect */
@keyframes textEffect {
    0%, 100% {
        transform: translateY(0);
        color: #fff;
    }
    50% {
        transform: translateY(-10px);
        color: #ffe135; /* Highlighted color */
    }
}



/* Search Container Styling */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
    max-width: 600px; /* Increased max-width for wider display */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 1rem;
}

/* Search Input Field */
.search-container input {
    padding: 0.75rem; /* Increase padding for larger input */
    font-size: 1.2rem; /* Increase font size */
    width: 100%;
    max-width: 600px; /* Match the container width */
    border: 2px solid #bbea93; /* Add a clear border */
    border-radius: 5px;
    outline: none;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* Reset Icon Styling */
.reset-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: -50px; /* Adjust spacing from the input */
    top: 50%;
    transform: translateY(-50%);
}

/* Product Gallery Styling */
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    background-color: #78cfbd;
    border: 2px solid #2ba554;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(57, 53, 142, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 435px;
}

.product-image img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.product-info {
    padding: 1rem;
}

.product-info h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.product-info p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
}

/* Style for Price Predictions */
.price-predictions {
    font-style: italic;
    font-weight: bold;
}

/* Product Buttons */
.product-buttons {
    display: flex;
    gap: 0.7rem;
    margin-top: 0.05rem;
    
}

.product-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    background-color: #c9f8b1;
}

.info-button {
    background-color: #ffffff;
    color: white;
    
}

.cart-button {
    background-color: #ffffff;
    color: white;
}

.product-buttons button:hover {
    transform: scale(1.3);
    animation: bounce 0.6s;

}

.product-info svg {
    vertical-align: middle;
    margin-left: 5px;
}

.user-container {
    position: relative;
    display: inline-block;
}

.user-info-popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(27, 80, 87, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    text-align: center;
    min-width: 150px;
}

.user-info-popup p {
    margin: 5px 0;
    font-size: 14px;
}

.logout-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}

.user-container:hover .user-info-popup {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}




/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    text-align: left;
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
}

.modal-content p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.modal img {
    width: 100%;
    max-width: 780px;
    display: block;
    margin: 0 auto;
}



.retailer-prices-horizontal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
}

.retailer-prices-horizontal-table th, 
.retailer-prices-horizontal-table td {
    border: 1px solid #0e0e0e;
    padding: 0.5rem;
}

.retailer-prices-horizontal-table th {
    background-color: #9abe70;
    font-weight: bold;
}

.retailer-prices-horizontal-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.retailer-prices-horizontal-table tr:hover {
    background-color: #f1f1f1;
}


/* Cart Styles */
.cart-table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-table th,
.cart-table td {
    padding: 10px 8px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    font-size: 0.95rem;
}

.cart-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.cart-table td {
    background-color: #fff;
    color: #333;
}

.cart-table tr:nth-child(even) td {
    background-color: #f3f3f3;
}

.cart-table tr:hover td {
    background-color: #e8f5e9;
    color: #333;
}

.col-image {
    width: 10%;
}

.col-code {
    width: 5%;
}

.col-name {
    width: 15%;
}

.col-category {
    width: 15%;
}

.col-uom {
    width: 10%;
}

.col-quantity {
    width: 10%;
}

.col-action {
    width: 5%;
}


.cart-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.quantity-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-button:hover {
    background-color: #45a049;
}

.quantity-value {
    padding: 0 10px;
    font-size: 1rem;
    font-weight: bold;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
}

.cart-container {
    position: relative; /* Ensures the red dot is positioned relative to the cart icon */
    display: inline-block;
}

.cart-status-dot {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 60%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to truly center it */
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none; /* Initially hidden */
    z-index: 10;
}


.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;

}

.home-icon img {
    width: 80px;
    height: 80px;
    display: inline-block;

}

.home-icon:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}


/* Empty Cart Message */
.empty-cart-message {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    margin: 20px 0;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .cart-table {
        width: 100%;
        font-size: 0.9rem;
    }

    .quantity-button {
        padding: 3px 5px;
        font-size: 0.9rem;
    }

    .delete-button {
        padding: 3px 5px;
        font-size: 0.9rem;
    }

    .cart-image {
        width: 40px;
        height: 40px;
    }
}

/* Save and Cancel Buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.save-button, .cancel-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.cancel-button {
    background-color: #e74c3c;
}

.cancel-button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}








/* Sign-Up Container */
.signup-container {
    display: flex;
    max-width: 1600px;
    margin: 2rem auto;
    background-color: #90EE90;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Image Section */
.signup-image {
    width: 100%;
    background: url('/static/images/signup.png') no-repeat center center/cover;
}

/* Form Section */
.signup-form {
    width: 40%;
    padding: 2rem;
    box-sizing: border-box;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input, .form-group select {
    width: 106%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.signup-button {
    background-color: #ff758c;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #6e374b;
}

.form-footer {
    text-align: center;
    margin-top: 1rem;
}

.form-footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.form-footer a:hover {
    text-decoration: underline;
}





/* Login Page Custom Styles */



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #c0ffb000;
}

.login-logo {
    margin-bottom: 2rem;
}

.login-logo img {
    width: 250px;
    height: auto;
}

.login-form {
    background-color: #aba5d9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #000000;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #a59090;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button {
    background-color: #6e4767;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #c43793;
}

.form-footer {
    text-align: center;
    margin-top: 1rem;
}

.form-footer a {
    color: #003882;
    text-decoration: none;
    font-weight: bold;
}

.form-footer a:hover {
    text-decoration: underline;
}

.forgot-password {
    text-align: right;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.forgot-password a {
    color: #7a0f03;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a:hover {
    text-decoration: underline;
}



/* QR Code Page Styles */

.tab-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af6198;
    border-bottom: 2px solid #dddddd00;
    padding: 10px;
}

.tab-header .tab {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.tab-header .tab.active {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.tab-header .tab:hover {
    background-color: #7cc041;
}

/* Tab Content Styling */
.tab-content {
    display: none;
    padding: 20px;
    text-align: center;
}

.tab-content.active {
    display: block;
}

.tab-content img {
    max-width: 400px;
    max-height: 600px;
    width: auto;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.tab-content img:hover {
    transform: scale(1.02);
}

/* PAY Description Styling */
.pay-description {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #7f43df;
    margin-bottom: 10px;
    position: relative;
}

.pay-description::after {
    content: '';
    display: block;
    width: 400px; /* Match the width of the PAY image */
    height: 3px;
    background: linear-gradient(90deg, #4CAF50, #f39c12);
    margin: 10px auto;
    border-radius: 2px;
    animation: pulse 1.5s infinite;
}

/* PAY Image Container */
.pay-image-container {
    position: relative;
    display: inline-block;
}

.pay-image-container::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: #50e055;
    font-weight: bold;
    z-index: 2;
}

/* Animation Keyframes */
@keyframes pulse {
    0% {
        transform: scaleX(0.8);
        opacity: 0.8;
    }
    50% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0.8);
        opacity: 0.8;
    }
}

/* Responsive Styling */
@media (max-width: 768px) {
    .tab-content img {
        max-width: 200px;
        max-height: 200px;
    }

    .pay-description::after {
        width: 200px; /* Adjust for smaller screens */
    }

    .pay-image-container::before {
        font-size: 2rem;
    }
}



/* User Page Styling */


/* User Details Section */
.user-header {
    text-align: center;
    margin: 2rem auto;
}

.user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 1rem;
}

.user-name {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: #2c0c75;
}

.user-points {
    font-size: 1.2rem;
    color: #495e0b;
}

.user-id {
    font-size: 1.2rem;
    color: #0e6e4c;
}

/* Chart Sections */
.chart-section {
    text-align: center;
    margin: 2rem 0;
}

.chart-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: #af6198;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.chart-image {
    width: 100%;
    max-width: 1000px;
    max-height: 800px;
    margin: 0 auto;
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .chart-image {
        width: 95%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .user-avatar {
        width: 120px;
        height: 120px;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .user-points {
        font-size: 1rem;
    }

    .user-id {
        font-size: 1rem;
    }
}


/* Market-analysis page Styling */

.market-analysis-container {
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}

.market-analysis-container h2 {
    font-size: 1.8rem;
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.product-card {
    background-color: #78cfbd;
    border: 2px solid #2ba554;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(57, 53, 142, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 360px;
}

.product-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.product-card .quantity {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0.5rem 0;
}


.product-card .info-button {
    background-color: #ffeb3b;
    color: #6a1b9a;
    border: none;
    border-radius: 50px;
    top:20px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top:20px;
    font-size: 1.2rem
}

.product-card .info-button:hover {
    background-color: #fbc02d;
    
}



.forecast-icon {
    width: 24px; /* Adjust size */
    height: 24px;
    transition: transform 0.3s ease;
}

.info-button:hover .forecast-icon {
    transform: scale(1.2); /* Enlarge icon on hover */
}





.quantity-container {
    display: flex;
    align-items: center;
    color:#6a1b9a;
    gap: 0.5rem;
}


.buy-icon {
    width: 48px;
    height: 48px;
    fill: #6a1b9a;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.buy-icon:hover {
    transform: scale(1.4);
    fill: #9f8fea;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.buy-icon:hover {
    animation: bounce 0.6s;
}


.additional-analysis-container {
    max-width: 1200px;
    text-align: center;
    margin: 30px auto;
}

.additional-analysis-container h2 {
    font-size: 1.8rem;
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#marketSizeChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



.pie-chart-container {
    max-width: 1200px;
    text-align: center;
    margin: 30px auto;
}

.pie-chart-container h2 {
    font-size: 1.8rem;
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}


#pieChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



#marketSizeChart, #pieChart {
    width: 90%;
    max-width: 800px;
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
