<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="user-dashboard-body">
    <header>
        <h1>User Profile</h1>
        <a href="/home" title="Go to Home" class="home-icon">
            <img src="/static/images/home.gif" alt="Home" />
        </a>
    </header>

    <main class="user-dashboard">
        <!-- User Details Section -->
        <div class="user-header">
            <img src="{{ user.ProfileImage }}" alt="User Avatar" class="user-avatar" onerror="this.onerror=null; this.src='/static/images/customers/profile_image/User.gif';">
            
            <h1 class="user-name">{{ user.FirstName }} {{ user.LastName }}</h1>
            <p class="user-id">User ID : {{ user.Customer_ID }}</p>
            <p class="user-points">Available Points : {{ user.Points }}</p>
        </div>

        <!-- Total Montly Expenses Chart Sections -->
        <div class="chart-section">
            <h2>Total Spending Over the Time</h2>
            <img src="/user/line-chart" alt="Line Chart" class="chart-image">
        </div>
        <!-- Chart Sections for the purchase history for each month -->
        <div class="chart-section">
            <h2>Your Monthly Purchase History on the Types of Grocery Products</h2>
            <img src="/user/bar-chart" alt="Bar Chart" class="chart-image">
        </div>
        <!-- Chart Sections for the type of Grocery Items -->
        <div class="chart-section">
            <h2>Your Spending Distribution on the Type of Grocery Products</h2>
            <img src="/user/pie-chart" alt="Pie Chart" class="chart-image">
        </div>
    </main>
</body>
</html>
